<section class="ccm2-content ccm2-inner-navigation-container">
  <ul class="ccm2-inner-navigation-list">
    <li>
      <a [routerLink]="['start-and-stop']" routerLinkActive="router-link-active">Пускане и спиране</a>
    </li>
    <li>
      <a [routerLink]="['selling-items']" routerLinkActive="router-link-active">Продажба на артикули</a>
    </li>
    <li>
      <a [routerLink]="['shift-completion']" routerLinkActive="router-link-active">Приключване на смяната</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</section>
