<div class="ccm2-navigation">
  <nav>
    <ul class="ccm2-navigation-list">
      <li>
        <a [routerLink]="['home']" routerLinkActive="router-link-active">Начало</a>
      </li>
      <li>
        <a [routerLink]="['info']" routerLinkActive="router-link-active">Информация</a>
      </li>
      <li>
        <a [routerLink]="['download']" routerLinkActive="router-link-active">Изтегляне</a>
      </li>
      <li>
        <a [routerLink]="['configuration']" routerLinkActive="router-link-active">Конфигурация</a>
      </li>
      <li>
        <a [routerLink]="['how-to']" routerLinkActive="router-link-active">Как се работи</a>
      </li>
      <li>
        <a [routerLink]="['contacts']" routerLinkActive="router-link-active">Контакти</a>
      </li>
    </ul>
  </nav>
</div>
