<section class="ccm2-content ccm2-inner-navigation-container">
  <ul class="ccm2-inner-navigation-list">
    <li>
      <a [routerLink]="['initial']" routerLinkActive="router-link-active">Първоначална</a>
    </li>
    <li>
      <a [routerLink]="['computers-and-ip-addresses']" routerLinkActive="router-link-active">Компютри и IP адреси</a>
    </li>
    <li>
      <a [routerLink]="['prices']" routerLinkActive="router-link-active">Цени</a>
    </li>
    <li>
      <a [routerLink]="['users']" routerLinkActive="router-link-active">Персонал</a>
    </li>
    <li>
      <a [routerLink]="['language-and-font']" routerLinkActive="router-link-active">Език и шрифт</a>
    </li>
    <li>
      <a [routerLink]="['customer-cards']" routerLinkActive="router-link-active">Клиентски карти</a>
    </li>
    <li>
      <a [routerLink]="['other']" routerLinkActive="router-link-active">Други</a>
    </li>
    <li>
      <a [routerLink]="['bar']" routerLinkActive="router-link-active">Бар</a>
    </li>
    <li>
      <a [routerLink]="['ini-files']" routerLinkActive="router-link-active">.ini файлове</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</section>
